@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,300;0,400;0,700;1,400&display=swap');

:root {
    --color-primario: #7510F7;
    --color-secundario: #C8B2E5;
    --color-letra: white;
    --fuente-titulo: 'IBM Plex Mono';
    --fuente-texto: 'Inconsolata';
    --centar: center;
    --padding-izqdo: 33px;
    --padding-up: 57px;
    --font-size: 25px;
    --box-shadow: 10px 5px 0px rgba(0, 0, 0, 0.6);
    --background-color: var(--color-secundario);
    --border-radius: 69px;
    --margin: 0 auto;
    --position: relative;
    --bottom: 55px;
    --text-align: justify;
    --max-width: 100%;
    --padding-right: 33px;
    --width: 32%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    top:0;
    margin-bottom: 100px;
    z-index: 100;
}

.divMain {
    margin-top: 11%;
}

.encabezado {
    width: 100%;
    background-color: var(--color-primario);
    display: flex;
    padding: 10px;
    justify-content: var(--centar);
    align-items: var(--centar);
    height: 205px;
}

.titulo {
    font-size: 55px;
    color: var(--color-letra);
    font-family: var(--fuente-titulo);
}

.texto {
    height: 350px;
}

.tabla {
    height: 500px;
}

.texto,
.tabla {
    padding-left: var(--padding-izqdo);
    padding-top: var(--padding-up);
    font-size: var(--font-size);
    box-shadow: var(--box-shadow);
    background-color: var(--color-secundario);
    border-radius: var(--border-radius);
    width: var(--width);
    margin: var(--margin);
    position: var(--position);
    bottom: var(--bottom);
    text-align: var(--text-align);
    max-width: var(--max-width);
    padding-right: var(--padding-right);
    font-family: var(--fuente-texto);
}

.primerTd {
    padding-left: 15%;
}

table {
    border-collapse: collapse;
    margin: 0;
    width: 100%;
}

th {
    text-align: center;
    border-bottom: 2px solid #000;
    font-weight: bold;
    font-size: 30px;
}

td {
    width: 50%;
    padding: 30px;
}

tr {
    margin-bottom: 10px;
}

.imagen,
.textoEncabezado,
.quien,
.lema,
.imagenPc {
    display: flex;
    justify-content: var(--centar);
}

.imagen {
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: 10%;
}

.textoEncabezado {
    padding-right: 20%;
}

.quien {
    margin-right: 75px;
}

.lema {
    margin-left: 70px;
}

.imagenPc {
    flex-direction: row;
}

.habilidades {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 4px;
    text-align: center;
}

.habilidades img {
    max-width: 400px;
    max-height: 400px;
    margin-top: 8%;
}

.java {
    padding-left: 6%;
}

.html {
    padding-left: 4%;
}

.js {
    padding-right: 1%;
}

.proyectos {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    margin-top: 1%;
    grid-row-gap: 39px;
    grid-row: 8px;
    align-items: center;
    justify-content: space-around;
    justify-items: center;
}

.repositorio {
    display: flex;
    width: 200%;
    background-size: 390px 165px;
    border-radius: 60px;
    background-repeat: round;
    height: 230px;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: var(--centar);
}

.repositorio:hover{
    cursor: pointer;
}

.fecha {
    background-image: url(img/portadaFecha.png);
}

.mensaje {
    background-image: url(img/codificador.png);
}

.registro{
    width: 300%;
    background-image: url(img/registro.PNG);
}
.reproductor {
    width: 240%;
    background-image: url(img/reproductor.PNG);
}

.api {
    width: 240%;
    background-image: url(img/api.PNG);
}

.game{
    width: 240%;
    background-image: url(img/game.PNG);
}

.inDB {
    width: 240%;
    background-image: url(img/notas.PNG);
}

.texto-pie {
    padding-left: 70%;
    font-size: 20px;
    font-family: var(--fuente-texto);
}

.fondo {
    display: flex;
    background-image: url('img/fondo.jpg');
    background-size: cover;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.divForm {
    margin-top: 2%;
    background: #ffffff93;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    animation: fadein 1.5s;
    font-family: var(--fuente-texto);
    font-size: 16px;
}

@keyframes fadein {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h1 {
    color: #333;
}

.informacion {
    text-align: left;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input[type="text"],
textarea {
    margin-top: 10px;
    width: 90%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.divBotonesForm {
    text-align: center;
}

.btnForm {
    background: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btnForm:hover {
    background: #0056b3;
}

input[type="submit"]:disabled {
    background-color: #ccc; 
    color: #666; 
    cursor: not-allowed;
  }

  .hide{
    display: none;
  }

.social{
    display: flex;
}
.social div {
    padding: 10px; 
}